<header>
  <nav class="header-nav">
    <a href="/" class="header-title">Mybrary</a>
    <ul>
      <li class="header-link"><a href="/authors">Authors</a></li>
      <li class="header-link"><a href="/authors/new">Add Author</a></li>
      <li class="header-link"><a href="/books">Books</a></liclass="header-link">
      <li class="header-link"><a href="/books/new">Add Book</a></li>
    </ul>
  </nav>
</header>
