<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Mybrary</title>
  </head>
  <body>
    Before
    <div><%- include('../partials/header.ejs') %></div>
    <div><%- include('../partials/errorMessage.ejs') %></div>
    <div><%- body %></div>
    After
  </body>
</html>
